{% extends "base.html" %}
{% block title %}{{ entry.meta.title }}{% endblock %}
{% block content %}
<div id="{{ entry.guid_suffix }}" class="{{ entry.css_type }}">
    <div class="published-date" title="{{ entry.published_date.isoformat() }}">
        <span class="day">{{ entry.published_date.strftime('%d') }}</span>
        {{ entry.published_date.strftime('%b %Y') }}
    </div>
    <div class="entry-title">
        {% if entry.is_linkroll %}
        <object type="image/svg+xml" data="/images/linkroll.svg" class="svg-linkroll">
            <img src="/images/linkroll.png" alt="linkroll" />
        </object>
        {% endif %}
        <h2><a href="{{ entry.meta.guid }}">{{ entry.meta.title }}</a></h2>
    </div>
    {% if entry.body %}
    <div class="entry-body">
        {{ entry.body }}
    </div>
    {% endif %}
</div>
{% endblock %}
