{% extends "base.html" %}
{% block title %}SJKingston.com{% endblock %}
{% block content %}

{% for entry in entries %}
<div id="{{ entry.tag_name }}" class="{{ entry.css_type }}">
    <div class="published-date" title="{{ entry.published_date.isoformat() }}">
        <span class="day">{{ entry.published_date.strftime('%d') }}</span>
        {{ entry.published_date.strftime('%b %Y') }}
    </div>
    <div class="entry-title">
        {% if entry.is_link %}
        <object type="image/svg+xml" data="{{ join_url('images/linkroll.svg') }}" class="svg-link">
            <img src="{{ join_url('images/linkroll.png') }}" alt="link" />
        </object>
        {% endif %}
        <h2><a href="{{ entry.this_url }}">{{ entry.meta.title }}</a></h2>
    </div>
    {% set summary, more = entry.summary %}
    {% if summary is not none %}
        {% if more %}
            <div class="summary hyphenate">
                {{ summary }}
            </div>
        {% else %}
            {{ summary }}
        {% endif %}
    {% endif %}
    <div class="post-meta">
        {% if more %}
        <p class="read-more"><a href="{{ entry.this_url }}">Read more</a></p>
        {% endif %}
        {% if disqus_shortname and not entry.is_link %}
        <p class="comment-count"><a href="{{ entry.this_url }}#disqus_thread">No Comments</a></p>
        {% endif %}
        {% if entry.modified_date %}
        <p class="modified-date" title="{{ entry.modified_date.isoformat() }}">
            Modified {{ entry.modified_date.strftime('%d %b %Y %H:%M') }}
        </p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% if disqus_shortname %}
<script type="text/javascript">
    var disqus_shortname = '{{ disqus_shortname}}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}

{% endblock %}
