html, body {
    height: 99%;
}

body {
    font-family: Corbel, "Lucida Grande", sans-serif;
    color: #212122;
}

pre, code {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
/* inline code */
p code, pre {
    background-color: #F5F5F5;
    border: 1px solid #DEDEDE;
    font-size: 0.8em;
}
/* code block */
pre {
    padding: 0.25em;
    overflow: auto;
    font-size: 0.9em;
}

#bodywrapper {
    max-width: 40em; /* -5em for date */
    min-height: 100%;
    height: auto;
    padding: 0 1em;
    margin: 0 auto;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: none solid none solid;
    position: relative;
}

#header {
    margin-bottom: 3em;
}
#header object {
    margin: 1em 1em 1em 0;
}
#header object.svg-title {
    margin-right: 3em !important;
}

/* hack to get <a> to sit on top of object and become clickable; thanks to:
 * http://stackoverflow.com/a/2096625
 */
#header a {
    position: relative;
    display:inline-block;
}
#header a:after {
    content: "";
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}

#footer {
    position: absolute; bottom: 0;
    height: 2em;
    padding-bottom: 0.5em;
}
#footer p {
    font-size: 0.8em;
}

h1 {
    display: none;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0;
}

h2 a, .entry a, #footer a {
    color: black;
    text-decoration: none;
}
h2 a:hover, .entry a:hover, #footer a {
    border-bottom: 1px dotted black;
}
a img {
    border: none;
}

#content {
    height: 100%;
    padding-bottom: 2em; /* same as #footer > height */
}

.entry {
    margin-bottom: 4em;
}
.entry p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 0 0.5em 0;
}

.entry p, .summary {
    text-align: justify;
}

/* not used anymore since removing .comments
.meta {
    font-family: sans-serif !important;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}
.meta, .meta a {
    color: #8C8C8C;
}
.meta a {
    text-decoration: none;
}
.meta a:hover {
    border-bottom: 1px dotted #8C8C8C;
}
*/

.link object, .link h2 {
    display: inline;
}
.link object {
    margin-right: 0.5em;
}

.published-date {
    font-family: Georgia, serif;
    font-size: 0.8em;
    text-align: center;
    font-variant: small-caps;
    color: #616263;
    position: absolute; left: -5em;
}
.published-date .day {
    display: block;
    font-size: 2em;
}

.entry-title {
    margin: 0.5em 0;
}

.post-meta {
    font-size: 0.9em;
    font-variant: small-caps;
}
.post-meta, .post-meta a {
    color: #616263;
}
.post-meta p {
    display: inline;
}
p.read-more, p.permalink, p.comment-count {
    margin-right: 1em;
}

.summary {
    margin-bottom: 0.5em;
}
.summary p {
    display: inline;
}

#disqus_thread {
    margin-top: 5em;
}

blockquote {
    border-left: 3px solid #999999;
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
}
